# Rust
**/target/

# Abseil-CPP
subprojects/abseil-cpp-*
subprojects/packagecache/

.vscode

# AWS EFA test files
contrib/aws-efa/aws_vars.json

# TaskFlow
subprojects/taskflow-*

# CuFile Logs
cufile.log

# clangd
.cache/

# Asio
subprojects/asio-*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# pytest
.pytest_cache/
.coverage

# etcd data
default.etcd/.cursorrules
