# Rust
**/target/

# Abseil-CPP
subprojects/abseil-cpp-*
subprojects/packagecache/

.vscode

# AWS EFA test files
contrib/aws-efa/aws_vars.json

# TaskFlow
subprojects/taskflow-*

# CuFile Logs
cufile.log

# clangd
.cache/

# Asio
subprojects/asio-*

# Meson wrap lock
subprojects/.wraplock

# Python cache
**/__pycache__/
*.egg-info/

# KVBench testing artifacts
benchmark/kvbench/devdata/
benchmark/kvbench/test_plans/
benchmark/kvbench/test/test_storage_backend.py